form {
  width: 400px;
  margin: 20px;
}

input {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 5px;
}

input#submit {
  width: auto;
}

label {
  color: #fff;
}

div.form{
  background-color: #222;
  display: inline-block;  /*Center div on page*/
}

.App {
  text-align: center;
}

.App-header {
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}



